*/bin
out.out
#unitils custom env. properties
unitils-local.properties

runLibrary
runUrl
geocodingRequests.txt

.sonar-ide.properties
CVS
.project
.classpath
.settings
target
classes
*.diff
upstat.txt
*.bak
*.jar
*.iml
*.eml
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml
*.rej
*.orig
.gradle
build
buildGradle
private
gradle.properties
gradle*properties
libs
libs/*
out
out/*
diff.diff
*.log

#patch
*.patch
b
b/*
/update
*~
\.#*
/.nb-gradle
bin

set_test_vars.bat
myset_test_vars.sh

deployTomcat.bat
.metadata/
Gruntfile.js
.babelrc
node_modules
node_modules/*
package.json
#my custom files watch config
myfilesWatchConfig.json
config.json
config-tor9test.json
.vscode
